Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, fish_indent, shellcheck, luacheck

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --staged
    markdownlint:
      glob: "*.md"
      run: markdownlint {staged_files}
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint --strict {staged_files}
    fish:
      glob: "**/*.fish"
      run: fish -n {staged_files}
    fish_indent:
      glob: "**/*.fish"
      run: fish_indent --check {staged_files}
    shellcheck:
      glob: "**/*.sh"
      run: shellcheck {staged_files}
    luacheck:
      glob: "**/*.lua"
      run: luacheck {staged_files}

pre-push:
  commands:
    gitleaks:
      run: gitleaks detect

chore: update gitleaks commands to non-deprecated alternatives
  lefthook.yml
Due: yamllint

chore: remove redundant repo path from gitleaks command
  lefthook.yml
Due: yamllint

chore: change ghostty font to Monaspace Neon
  .config/ghostty/config
Due: none

chore: remove JetBrains Mono Nerd Font
  Brewfile
Due: none

chore: add .mcp.json symlink
  setup.sh
Due: none

chore: remove unused symlink configs from setup.sh
  setup.sh
Due: none

chore: organize ghostty config and add cell height adjustment
  .config/ghostty/config
Due: none

chore: add font-meslo-lg-nerd-font cask to brewfile
  Brewfile
Due: none

chore: remove obsolete serena tool permissions
  .claude/settings.json
Due: none

chore: remove git-lfs filter config
  .config/git/config
Due: none

fix: correct nvim plugin config for autotag and which-key
  .config/nvim/lua/plugins/nvim-ts-autotag.lua
  .config/nvim/lua/plugins/which-key.lua
Due: luacheck

chore: add ghostty tab/split config
  .config/ghostty/config
Due: none

chore: switch nerd font to symbols-only
  Brewfile
Due: none

chore: add ghostty CJK font config
  .config/ghostty/config
  Brewfile
Due: none

chore: switch ghostty font to JetBrainsMono Nerd Font
  .config/ghostty/config
  Brewfile
Due: none

chore: update ghostty font config
  .config/ghostty/config
  Brewfile
Due: none

chore: add Streaks to Brewfile
  Brewfile
Due: none

chore: add Raindrop.io to Brewfile
  Brewfile
Due: none

chore: update lualine theme to catppuccin-mocha
  .config/nvim/lua/plugins/lualine.lua
Due: luacheck

chore: remove Streaks from Brewfile
  Brewfile
Due: none

chore: replace terminal-notifier with osascript
  .claude/hooks/notify.sh
  Brewfile
Due: shellcheck

fix: prevent AppleScript injection in notification hook
  .claude/hooks/notify.sh
Due: shellcheck

refactor: replace afplay with display notification sound name
  .claude/hooks/notify.sh
Due: shellcheck

chore: update CodeRabbit config
  .coderabbit.yml
Due: yamllint

refactor: manage claude hooks via symlinks
  .claude/settings.json
  setup.sh
Due: none

chore: add CODEOWNERS and clean up dependabot config
  .github/CODEOWNERS
  .github/dependabot.yml
Due: yamllint

ci: add dependabot cooldown config
  .github/dependabot.yml
Due: yamllint

ci: remove dependabot dependency groups
  .github/dependabot.yml
Due: yamllint

chore: migrate tools from homebrew to mise
  .config/mise/config.toml
  Brewfile
Due: none

chore: remove luarocks from brewfile
  Brewfile
Due: none

chore: enable thinking summaries in claude settings
  .claude/settings.json
Due: none

chore: remove redundant npm self-update
  justfile
Due: none

chore: add copier
  .config/mise/config.toml
Due: none

chore: remove copier
  .config/mise/config.toml
Due: none

chore: migrate terraform and localstack to brew
  .config/mise/config.toml
  Brewfile
Due: none

chore: migrate to renovate
  .github/dependabot.yml
  renovate.json
Due: yamllint

chore: remove copilot config
  .config/nvim/lua/plugins/copilot.lua
  Brewfile
Due: luacheck

chore: remove copilot instructions
  .github/copilot-instructions.md
Due: markdownlint

chore: tune renovate release age and add vuln alerts
  renovate.json
Due: none

fix: run npm update via mise exec
  justfile
Due: none
