Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, fish_indent, shellcheck, luacheck

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

fish:
  run: fish -n {staged_files}

fish_indent:
  run: fish_indent --check {staged_files}

shellcheck:
  run: shellcheck {staged_files}

luacheck:
  run: luacheck {staged_files}

ci: unify lint-actions step names
  .github/workflows/lint-actions.yml
Due: yamllint

ci: group biome updates across managers
  renovate.json
Due: none

feat: add Claude Code status line
  home/.claude/settings.json
  home/.claude/statusline.sh
Due: shellcheck

fix: adjust Homebrew env vars in fish config
  home/.config/fish/config.fish
Due: fish, fish_indent

feat: replace ggdiff edit action with path output
  home/.config/fish/functions/ggdiff.fish
Due: fish, fish_indent

feat: migrate editor from VS Code to Zed
  Brewfile
  biome.jsonc
  home/.config/zed/keymap.json
  home/.config/zed/settings.json
Due: none

chore: replace leaf-md with mo for markdown viewing
  Brewfile
Due: none

feat: add ggls command
  home/.config/fish/functions/ggls.fish
Due: fish, fish_indent

chore: remove notify hook
  home/.claude/hooks/notify.sh
  home/.claude/settings.json
Due: shellcheck

feat: add herdr
  Brewfile
  home/.config/herdr/config.toml
Due: none

refactor: simplify statusline to show model and usage only
  home/.claude/statusline.sh
Due: shellcheck

chore: update zed editor settings
  home/.config/zed/settings.json
Due: none

chore: update herdr config
  home/.config/herdr/config.toml
Due: none

chore: run renovate weekly on saturday morning
  renovate.json
Due: none

chore: remove mo
  Brewfile
Due: none

fix: drop ghostty ctrl+[ keybind breaking esc in herdr
  home/.config/ghostty/config
Due: none

chore(deps): drop Messenger from Brewfile
  Brewfile
Due: none

fix: scope fish PATH globally and add fzf integration
  home/.config/fish/config.fish
Due: fish, fish_indent

chore: move rm to ask and deny more secret files
  home/.claude/settings.json
  home/.claude/statusline.sh
Due: shellcheck

chore: remove Comment.nvim in favor of built-in gc
  home/.config/nvim/lua/plugins/comment.lua
Due: luacheck

chore: add modern git config options
  home/.config/git/config
Due: none

chore: drop fetch.pruneTags to keep local-only tags
  home/.config/git/config
Due: none

style: unify fish colors to catppuccin mocha
  home/.config/fish/config.fish
Due: fish, fish_indent

chore: drop column.ui from git config
  home/.config/git/config
Due: none

chore: update Claude Code permission allow list
  home/.claude/settings.json
Due: none

chore: remove over-broad deny rules from permissions
  home/.claude/settings.json
Due: none

chore: remove vendored bat theme
  home/.config/bat/themes/Catppuccin Mocha.tmTheme
Due: none

chore: hide Claude attribution in commits and PRs
  home/.claude/settings.json
Due: none

chore: drop illuminate large file override
  home/.config/nvim/lua/plugins/vim-illuminate.lua
Due: luacheck

chore: install taplo via mise instead of npm
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
Due: yamllint

chore: drop local-review skill
  home/.claude/skills/local-review/SKILL.md
  home/.claude/skills/local-review/template.md
Due: markdownlint

ci: ignore zizmor self-repository finding in static-check
  .github/workflows/static-check.yml
Due: yamllint

chore: remove logi-options+ cask
  Brewfile
Due: none

chore: remove ghostty titlebar style
  home/.config/ghostty/config
Due: none

Path conditions:
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  fish: any of: **/*.fish
  fish_indent: any of: **/*.fish
  shellcheck: any of: **/*.sh
  luacheck: any of: **/*.lua
