Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, shellcheck, luacheck

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    scan-git-secrets:
      run: git secrets --scan
    markdownlint:
      glob: "*.md"
      run: markdownlint {staged_files}
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint --strict {staged_files}
    fish:
      glob: "**/*.fish"
      run: fish -n {staged_files}
    shellcheck:
      glob: "**/*.sh"
      run: shellcheck {staged_files}
    luacheck:
      glob: "**/*.lua"
      run: luacheck {staged_files}

pre-push:
  commands:
    scan-git-secrets:
      run: git secrets --scan

chore: add serena config
  .serena/.gitignore
  .serena/project.yml
Due: yamllint

chore: update claude settings and agent guidelines
  .claude/settings.json
  AGENTS.md
Due: markdownlint

chore: add disable-model-invocation to skills
  .claude/skills/create-branch/SKILL.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/make-commit/SKILL.md
  .claude/skills/show-summary/SKILL.md
Due: markdownlint

chore: update codex config
  .codex/config.toml
Due: none

chore: update claude settings
  .claude/settings.json
Due: none

refactor: reorganize skills structure and extract shared conventions
  .claude/skills/_shared/git-conventions.md
  .claude/skills/create-branch/SKILL.md
  .claude/skills/local-review/CHECKLIST.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/local-review/TEMPLATE.md
  .claude/skills/make-commit/SKILL.md
  .claude/skills/show-summary/SKILL.md
  setup.sh
Due: markdownlint

chore: reorder language key in claude settings
  .claude/settings.json
Due: none

chore: add personality config to codex
  .codex/config.toml
Due: none

chore: add .serena/ to .gitignore
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Due: yamllint

chore: update codex mcp server args
  .mcp.json
Due: none

fix: use --force-with-lease in ggpush
  .config/fish/functions/ggpush.fish
Due: fish

chore: replace git-secrets with gitleaks
  .config/git/config
  Brewfile
  lefthook.yml
Due: yamllint

chore: remove github.copilot vscode extension
  Brewfile
Due: none

chore: remove custom Claude Code agents
  .claude/agents/backend-engineer.md
  .claude/agents/code-reviewer.md
  .claude/agents/frontend-engineer.md
  .claude/skills/local-review/SKILL.md
Due: markdownlint

ci: add security review workflow
  .github/workflows/security.yml
Due: yamllint

refactor: split git-conventions into commit and branch files
  .claude/skills/_shared/branch-conventions.md
  .claude/skills/_shared/commit-conventions.md
  .claude/skills/create-branch/SKILL.md
  .claude/skills/make-commit/SKILL.md
Due: markdownlint

chore: add LINE to Brewfile
  Brewfile
Due: none

chore: remove codex MCP server config
  .mcp.json
Due: none

chore: add read permission for skill files
  .claude/settings.json
Due: none

fix: use recursive glob for skill files read permission
  .claude/settings.json
Due: none

chore: add Bash to skill allowed-tools
  .claude/skills/create-branch/SKILL.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/make-commit/SKILL.md
  .claude/skills/show-summary/SKILL.md
Due: markdownlint

refactor: precompute diffs in skill Context sections
  .claude/skills/create-branch/SKILL.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/make-commit/SKILL.md
Due: markdownlint

chore: simplify AGENTS.md
  AGENTS.md
Due: markdownlint

chore: remove scope selection from local-review skill
  .claude/skills/local-review/CHECKLIST.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/local-review/TEMPLATE.md
Due: markdownlint

chore: update codex model to gpt-5.4
  .codex/config.toml
Due: none

chore: add ghostty config and theme
  .config/ghostty/config
  .hushlogin
  Brewfile
  setup.sh
Due: none

chore: remove alacritty and zellij config
  .config/alacritty/alacritty.toml
  .config/alacritty/themes/catppuccin-mocha.toml
  .config/zellij/config.kdl
  Brewfile
  setup.sh
Due: none

chore: enable font-thicken in ghostty config
  .config/ghostty/config
Due: none

chore: add AGENTS.md symlink for Codex
  setup.sh
Due: none

chore: add yazi and remove broot from Brewfile
  Brewfile
Due: none

chore: update ghostty config settings
  .config/ghostty/config
Due: none

chore: add safety settings to ghostty config
  .config/ghostty/config
Due: none

chore: replace jless with fx and remove go-outline
  Brewfile
Due: none

chore: move shared skill files into each skill directory
  .claude/settings.json
  .claude/skills/create-branch/SKILL.md
  .claude/skills/create-branch/branch-conventions.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/local-review/template.md
  .claude/skills/make-commit/SKILL.md
  .claude/skills/make-commit/commit-conventions.md
Due: markdownlint

refactor: simplify catppuccin colorscheme config
  .config/nvim/lua/config/lazy.lua
  .config/nvim/lua/plugins/catppuccin.lua
Due: luacheck

refactor: use generic catppuccin name in install.colorscheme
  .config/nvim/lua/config/lazy.lua
Due: luacheck

refactor: extract show-summary template to separate file
  .claude/skills/show-summary/SKILL.md
  .claude/skills/show-summary/template.md
Due: markdownlint

chore: remove model setting from claude config
  .claude/settings.json
Due: none

chore: add luacheck to Brewfile
  Brewfile
Due: none
