Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, fish_indent, shellcheck, luacheck

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

fish:
  run: fish -n {staged_files}

fish_indent:
  run: fish_indent --check {staged_files}

shellcheck:
  run: shellcheck {staged_files}

luacheck:
  run: luacheck {staged_files}

chore: add mas and brewfile update recipes
  justfile
Due: none

refactor: merge brew-bundle-install into brew-update
  justfile
Due: none

chore: switch renovate schedule to daily cron window
  renovate.json
Due: none

chore: add zoom cask to Brewfile
  Brewfile
Due: none

chore: update codex config
  .codex/config.toml
Due: none

chore: add claude scheduled_tasks.lock to global gitignore
  .config/git/ignore
Due: none

chore: enable coderabbit auto review
  .coderabbit.yml
Due: yamllint

chore: remove truncation_symbol from directory module
  .config/starship.toml
Due: none

Initial commit
  .coderabbit.yml
  .commitlintrc.json
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/biome.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint-actions.yml
  .github/workflows/preset-pr.yml
  .gitignore
  .markdownlint.yml
  .mcp.json
  .mise.toml
  .yamllint.yml
  LICENSE
  README.md
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  taplo.toml
  zizmor.yml
Due: markdownlint, yamllint

docs: split mise setup commands into separate code blocks
  README.md
Due: markdownlint

chore: add model to claude settings
  home/.claude/settings.json
Due: none

feat: add compact-memory claude skill
  home/.claude/skills/compact-memory/SKILL.md
  home/.claude/skills/compact-memory/criteria.md
Due: markdownlint

docs: rewrite CLAUDE.md in Japanese
  home/.claude/CLAUDE.md
Due: markdownlint

feat: strengthen compact-memory criteria
  home/.claude/skills/compact-memory/SKILL.md
  home/.claude/skills/compact-memory/criteria.md
Due: markdownlint

chore: remove model setting
  home/.claude/settings.json
Due: none

chore: group non-major renovate updates per manager
  renovate.json
Due: none

chore: biome migration
  biome.json
Due: none

build: add pnpm store prune to update task
  mise-tasks/update.toml
Due: none

chore: enable Renovate automerge for non-major and digest updates
  renovate.json
Due: none

chore: remove nordvpn cask
  Brewfile
Due: none

chore: add description comments to Brewfile
  Brewfile
Due: none

chore: enable fullscreen TUI mode
  home/.claude/settings.json
Due: none

docs: simplify PR merge wait rule
  home/.claude/CLAUDE.md
Due: markdownlint

ci: await addAssignees call in preset-pr workflow
  .github/workflows/preset-pr.yml
Due: yamllint

chore: rename .mise.toml to mise.toml
  mise.toml
Due: none

ci: add mise install_args to biome workflow
  .github/workflows/biome.yml
Due: yamllint

chore: add renovate custom manager for yamllint
  renovate.json
Due: none

fix: handle edge cases in fish git functions
  home/.config/fish/functions/_get_git_remote.fish
  home/.config/fish/functions/ggclean.fish
  home/.config/fish/functions/ggstash.fish
Due: fish, fish_indent

fix: check each staged fish file syntax in lefthook
  lefthook.yml
Due: yamllint

chore: use nvimdiff as git mergetool
  home/.config/git/config
Due: none

refactor: clean up fish git functions
  home/.config/fish/functions/_select_git_path.fish
  home/.config/fish/functions/ggcd.fish
  home/.config/fish/functions/ggdiff.fish
  home/.config/fish/functions/ggrebase.fish
  home/.config/fish/functions/ggshow.fish
  home/.config/fish/functions/ggstash.fish
  home/.config/fish/functions/ggwt.fish
  home/.config/fish/functions/zf.fish
Due: fish, fish_indent

refactor: clean up nvim plugin specs and keymaps
  home/.config/nvim/lua/core/keymaps.lua
  home/.config/nvim/lua/plugins/bufferline.lua
  home/.config/nvim/lua/plugins/flash.lua
  home/.config/nvim/lua/plugins/fzf-lua.lua
  home/.config/nvim/lua/plugins/indent-blankline.lua
  home/.config/nvim/lua/plugins/nvim-surround.lua
  home/.config/nvim/lua/plugins/todo-comments.lua
  home/.config/nvim/lua/plugins/vim-illuminate.lua
  home/.config/nvim/lua/plugins/which-key.lua
Due: luacheck

chore: replace glow with leaf-md
  Brewfile
Due: none

chore: remove chatgpt-atlas cask
  Brewfile
Due: none

chore: allow gh pr commands in claude settings
  home/.claude/settings.json
Due: none

fix: replace non-functional Write deny rules with Edit
  home/.claude/settings.json
Due: none

chore: remove forced SHELL env from Claude Code settings
  home/.claude/settings.json
Due: none

chore: rename biome.json to biome.jsonc
  biome.jsonc
Due: none

ci: unify workflows and add composite setup action
  .github/actions/setup/action.yml
  .github/workflows/security.yml
  .github/workflows/static-check.yml
Due: yamllint

Path conditions:
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  fish: any of: **/*.fish
  fish_indent: any of: **/*.fish
  shellcheck: any of: **/*.sh
  luacheck: any of: **/*.lua
