Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, shellcheck, luacheck

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

fish:
  run: fish -n {staged_files}

shellcheck:
  run: shellcheck {staged_files}

luacheck:
  run: luacheck {staged_files}

style: update bat theme formatting
  .config/bat/themes/Catppuccin Mocha.tmTheme
Due: none

refactor: simplify delta config
  .config/git/config
  .config/git/delta/catppuccin.gitconfig
Due: none

chore: delete ggrestore.fish
  .config/fish/functions/ggrestore.fish
Due: fish

refactor: remove fzf preview and add file escaping
  .config/fish/functions/_set_commandline.fish
  .config/fish/functions/ggadd.fish
  .config/fish/functions/ggcd.fish
  .config/fish/functions/ggdiff.fish
  .config/fish/functions/ggshow.fish
Due: fish

chore: remove icons and Japanese text from scope selection
  .claude/commands/local-review.md
Due: markdownlint

chore: remove scope progress icons
  .claude/commands/local-review.md
Due: markdownlint

style: change starship vim command and visual mode colors
  .config/starship.toml
Due: none

style: remove bold from starship prompt
  .config/starship.toml
Due: none

feat: add php to brewfile
  Brewfile
Due: none

chore: update node to lts
  .config/mise/config.toml
Due: none

chore: add pnpm to mise config
  .config/mise/config.toml
Due: none

chore: add pnpm abbreviation
  .config/fish/config.fish
Due: fish

fix: use absolute paths in ggdiff edit mode
  .config/fish/functions/ggdiff.fish
Due: fish

feat: add line navigation keybinds
  .config/fish/config.fish
Due: fish

fix: use pushd/popd in fish functions
  .config/fish/functions/ggcd.fish
  .config/fish/functions/ggshow.fish
Due: fish

chore: add reshim and prune commands to mise-update task
  justfile
Due: none

feat: add multi-branch delete support
  .config/fish/functions/_select_other_branches_multi.fish
  .config/fish/functions/ggbr.fish
Due: fish

style: format fish files with fish_indent
  .config/fish/config.fish
  .config/fish/functions/_assert_in_git_repository.fish
  .config/fish/functions/_get_git_remote.fish
  .config/fish/functions/_select_commit.fish
  .config/fish/functions/_select_menu.fish
  .config/fish/functions/_select_other_branch.fish
  .config/fish/functions/_select_other_branches_multi.fish
  .config/fish/functions/_set_commandline.fish
  .config/fish/functions/ggadd.fish
  .config/fish/functions/ggbr.fish
  .config/fish/functions/ggcd.fish
  .config/fish/functions/ggclean.fish
  .config/fish/functions/ggcommit.fish
  .config/fish/functions/ggdiff.fish
  .config/fish/functions/ggpull.fish
  .config/fish/functions/ggpush.fish
  .config/fish/functions/ggrebase.fish
  .config/fish/functions/ggshow.fish
  .config/fish/functions/ggstash.fish
  .config/fish/functions/ggsw.fish
  .config/fish/functions/ggwt.fish
  .config/fish/functions/repo.fish
Due: fish

style: add fish script indent configuration
  .editorconfig
Due: none

style: unify quote style in fish functions
  .config/fish/functions/_select_commit.fish
  .config/fish/functions/ggadd.fish
  .config/fish/functions/ggstash.fish
  .config/fish/functions/ggwt.fish
Due: fish

feat: add fish_indent validation to pre-commit hooks
  lefthook.yml
Due: yamllint

feat: add openai codex to default npm packages
  .default-npm-packages
Due: none

feat: add openai chatgpt vscode extension
  Brewfile
Due: none

feat: centralize agents config
  AGENTS.md
  setup.sh
Due: markdownlint

feat: add codex configuration
  .codex/config.toml
  setup.sh
Due: none

feat: add MCP server configuration
  .config/git/ignore
  .mcp.json
Due: none

feat: add codex mcp server
  .mcp.json
Due: none

fix: handle renamed files in ggadd
  .config/fish/functions/ggadd.fish
Due: fish

feat: add serena mcp server
  .codex/config.toml
  .mcp.json
  Brewfile
Due: none

chore: remove duplicate AGENTS.md symlink
  setup.sh
Due: none

chore: reorganize claude settings
  .claude/settings.json
Due: none

chore: update ghq root path
  .config/git/config
Due: none

chore: remove claude abbreviation
  .config/fish/config.fish
Due: fish

chore: add broot and grex to brewfile
  Brewfile
Due: none

feat: add zf fish function
  .config/fish/functions/zf.fish
Due: fish

chore: add chatgpt-atlas
  Brewfile
Due: none

chore: add terraform
  Brewfile
Due: none

chore: add GitHub Copilot instructions
  .github/copilot-instructions.md
Due: markdownlint

chore: add fish_vi_key_bindings
  .config/fish/config.fish
Due: fish

chore: migrate commands to skills format
  .claude/skills/create-branch/SKILL.md
  .claude/skills/local-review/SKILL.md
  .claude/skills/make-commit/SKILL.md
  .claude/skills/show-summary/SKILL.md
  setup.sh
Due: markdownlint

Path conditions:
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  fish: any of: **/*.fish
  shellcheck: any of: **/*.sh
  luacheck: any of: **/*.lua
