Repository jnicrimi/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, fish, shellcheck, luacheck

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    scan-git-secrets:
      run: git secrets --scan
    markdownlint:
      glob: "*.md"
      run: markdownlint {staged_files}
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint --strict {staged_files}
    fish:
      glob: "**/*.fish"
      run: fish -n {staged_files}
    shellcheck:
      glob: "**/*.sh"
      run: shellcheck {staged_files}
    luacheck:
      glob: "**/*.lua"
      run: luacheck {staged_files}

pre-push:
  commands:
    scan-git-secrets:
      run: git secrets --scan

style: unify array formatting
  commitlint.config.js
Due: none

chore: rename coderabbit config
  .coderabbit.yml
Due: yamllint

chore: update fish config
  .config/fish/config.fish
Due: fish

chore: remove hushlogin
  .hushlogin
  setup.sh
Due: none

fix: restrict workflow permissions
  .github/workflows/preset-pr.yml
Due: yamllint

chore: simplify editorconfig
  .editorconfig
Due: none

chore: reorder commit types
  .config/fish/functions/ggcommit.fish
  commitlint.config.js
Due: fish

refactor: extract symlink logic into sync_symlinks function
  setup.sh
Due: none

chore: remove run-name from preset-pr workflow
  .github/workflows/preset-pr.yml
Due: yamllint

refactor: remove unused git config options
  .config/git/config
Due: none

chore: adjust nvim timeout settings
  .config/nvim/lua/core/options.lua
Due: luacheck

style: fix zellij config indentation
  .config/zellij/config.kdl
Due: none

chore: adjust alacritty indentation
  .config/alacritty/alacritty.toml
Due: none

feat: add colorMoved diff setting
  .config/git/config
Due: none

chore: clean up gh config
  .config/gh/config.yml
Due: yamllint

chore: add histogram diff algorithm and verbose commit mode
  .config/git/config
Due: none

refactor: reorganize git config sections
  .config/git/config
Due: none

chore: add version to gh config
  .config/gh/config.yml
Due: yamllint

chore: add pipefail to setup script
  setup.sh
Due: none

chore: remove ctrl-h unbind
  .config/zellij/config.kdl
Due: none

chore: add karabiner ime shortcuts
  .config/karabiner/karabiner.json
Due: none

feat: add mise config
  .config/mise/config.toml
  setup.sh
Due: none

feat: add npm default packages
  .default-npm-packages
  setup.sh
Due: none

feat: add vscode setup
  Brewfile
Due: none

refactor: migrate node from homebrew to mise
  .default-npm-packages
  Brewfile
  commitlint.config.js
Due: none

chore: remove yarn from Brewfile
  Brewfile
Due: none

feat: add justfile
  justfile
Due: none

feat: add vscode extensions
  Brewfile
Due: none

chore: remove auto-rename-tag vscode extension from Brewfile
  Brewfile
Due: none

chore: remove redundant VSCode extensions
  Brewfile
Due: none

feat: add language support VSCode extensions
  Brewfile
Due: none

chore: remove vscode extensions
  Brewfile
Due: none

feat: change font to JetBrainsMono
  .config/alacritty/alacritty.toml
  Brewfile
Due: none

feat: switch to Catppuccin Mocha theme
  .config/alacritty/alacritty.toml
  .config/alacritty/themes/catppuccin-mocha.toml
  .config/alacritty/themes/gruvbox_dark.toml
  .config/bat/config
  .config/bat/themes/Catppuccin Mocha.tmTheme
  .config/fish/config.fish
  .config/git/config
  .config/git/delta/catppuccin.gitconfig
  .config/nvim/lua/config/lazy.lua
  .config/nvim/lua/plugins/catppuccin.lua
  .config/nvim/lua/plugins/gruvbox.lua
  .config/nvim/lua/plugins/lualine.lua
  .config/starship.toml
  .config/zellij/config.kdl
  setup.sh
Due: fish, luacheck

chore: update claude permissions
  .claude/settings.json
Due: none

chore: update vscode theme
  Brewfile
Due: none

feat: add monaspace font
  Brewfile
Due: none

chore: clean up Brewfile
  Brewfile
Due: none

fix: update bat theme
  .config/bat/themes/Catppuccin Mocha.tmTheme
Due: none

fix: typo
  .config/bat/themes/Catppuccin Mocha.tmTheme
Due: none
